* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
      background-color: #F5F6F1;
  }

  nav {
    height: 117px;
    max-height: 167px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #E7DFC5;
    border-end-end-radius: 50px;
    border-end-start-radius: 50px;
  }
  
  nav .logo {
    width: 82px;
    margin: 0 100px;
  }
  
  .menutext {
    display: flex;
    margin-left: 250px;
    font-size: 20px;
    margin-top: 30px;
  }
  ul a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }
  
  ul a:hover {
    text-decoration: none;
    color: #C5BEB8;
  }
  
  .text {
    margin-left: 20px;
    text-decoration: none;
  }
  
  .btn {
    height: 60px;
    margin-right: 50px;
    margin-bottom: 10px;
  }
  
  .btn button {
    width: 159px;
    height: 60px;
    font-size: 20px;
    border-radius: 10px;
    background-color: #E7DFC5;
    cursor: pointer;
  }
  
  .btn button:hover {
    background-color: #C5BEB8;
  }
  
  .border-none {
    border: none;
  }

  .container{
    background-color: white;
    border-radius: 50px;
  }
  .by{
    margin-top: 50px;
    color: #875E42;
    font-weight: 600;
    text-shadow: 0px 1px 5px rgb(0, 0, 0,0.25);
  }
  hr {            
    height: 3px;              
    background-color: #875E42;    
    margin: 20px 0;           
}